// app global css in SCSS form
@import "screens";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

html,
body {
  background: #dcdcdc;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: 0.125rem;
  margin-right: 0.125rem;

  @media (min-width: $medium) {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

.bg-home {
  background-image: url("~assets/wallpaper-relawan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-psm {
  background-color: #036831;
}

.img-profil-fb {
  width: 100%;
  @media (min-width: $medium) {
    width: 250px;
  }
}

.img-profil-twitter {
  width: 100%;
  @media (min-width: $medium) {
    width: 250px;
  }
}

.img-pengaturan-fb {
  height: 300px;
  width: auto;

  @media (min-width: $medium) {
    height: 235px;
  }
}

.img-username-twitter {
  @media (min-width: $medium) {
    width: 250px;
  }
}

.img-username-ig {
  width: 100%;
  @media (min-width: $medium) {
    width: 250px;
  }
}

.img-menu-tiktok {
  width: 100%;

  @media (min-width: $medium) {
    width: 240px;
  }
}

.img-nama-pengguna {
  width: 100%;

  @media (min-width: $medium) {
    width: 500px;
  }
}

.q-field__bottom {
  padding: 4px 4px 4px 4px !important;
}
