// app global css in SCSS form
@import "screens";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

html,
body {
  background: #dcdcdc;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: 0.125rem;
  margin-right: 0.125rem;

  @media (min-width: $medium) {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

.bg-home {
  background-image: url("~assets/wallpaper-relawan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-psm {
  background-color: #036831;
}
